.sidebar-component {
  .sidebar-button {
    text-decoration: none;
    cursor: pointer;

    &:hover {
      border-left: 4px solid rgba(254, 254, 254, 1);
    }
  }

  .selected-button {
    background: linear-gradient(
      90deg,
      rgba(254, 254, 254, 0.2) 0%,
      rgba(62, 76, 78, 0.14) 47.62%
    );
    border-left: 4px solid rgba(254, 254, 254, 1);
  }
}
